{% load static %}
{% static "images" as baseUrl  %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Homestate &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300' %}" rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- Date Picker -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
	<!-- CS Select -->
	<link rel="stylesheet" href="{% static 'css/cs-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/cs-skin-border.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="{% static '#' %}" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="{% url 'index' %}"><i class="icon-home"></i>Home<span>state</span></a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li ><a href="{% url 'index' %}">Home</a></li>
							<li>
								<a  class="fh5co-sub-ddown">Properties</a>
								<ul class="fh5co-sub-menu">
									<li><a href="{% url 'buy_property' %}">Buy Property</a></li>
									<li><a href="{% url 'prediction' %}">Property Valuation</a></li>
									<li><a href="{% url 'sell_property' %}">Sell Property</a></li>
								</ul>
							</li>
							<li class="active"><a href="{% url 'agent' %}">Agent</a></li>
							<li><a href="{% url 'blog' %}">Blog</a></li>
							<li><a href="tel:5554280940">Call us at 555-428-0940</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
        <div id="fh5co-about" class="fh5co-agent">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Developer</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
						<div class="fh5co-staff">
							
						</div>
					</div>
					<div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
						<div class="fh5co-staff">
							<img class="img-responsive" src="{% static 'images/user-3.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
							<h3>Arth Rathod</h3>
							<p>Full Stack developer at HOMESTATE</p>
							<p class="fh5co-social-icons">
								<a href="{% static '#' %}"><i class="icon-twitter2"></i></a>
								<a href="{% static '#' %}"><i class="icon-facebook2"></i></a>
								<a href="{% static '#' %}"><i class="icon-instagram"></i></a>
								<a href="{% static '#' %}"><i class="icon-dribbble2"></i></a>
								<a href="{% static '#' %}"><i class="icon-youtube"></i></a>
							</p>
						</div>
					</div>
					<div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
						<div class="fh5co-staff">
							<img class="img-responsive" src="{% static 'images/user-4.jpg' %}" alt="Free HTML5 Templates by freeHTML5.co">
							<h3>Rakshit Patel</h3>
							<p>Machine Learning Engineer at HOMESTATE</p>
							<p class="fh5co-social-icons">
								<a href="{% static '#' %}"><i class="icon-twitter2"></i></a>
								<a href="{% static '#' %}"><i class="icon-facebook2"></i></a>
								<a href="{% static '#' %}"><i class="icon-instagram"></i></a>
								<a href="{% static '#' %}"><i class="icon-dribbble2"></i></a>
								<a href="{% static '#' %}"><i class="icon-youtube"></i></a>
							</p>
						</div>
					</div>
					<div class="col-sm-3 text-center animate-box" data-animate-effect="fadeIn">
						<div class="fh5co-staff">
							
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- fh5co-blog-section -->
		<div id="fh5co-contact" class="fh5co-contact">
			<div class="half-contact">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-md-offset-0 text-center heading-section animate-box">
							<h3>Ask an agent, We're here to help 24/7</h3>
							<p>New to the city?
								Confused about what to buy? 
								Connect with our expert agents and ask them how to find best property for you.
								</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 animate-box">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="half-bg" style="background-image: url({% static 'images/map-1.jpg' %});"></div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row row-bottom-padded-md">
						<div class="col-md-3">
							<h3 class="section-title">About Homestate</h3>
							<p>Connecting buyer and sellers and giving the best deals for buyers and sellers.</p>
						</div>
						
						<div class="col-md-3 col-md-push-1">
							<h3 class="section-title">Links</h3>
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'buy_property' %}">Buy Properties</a></li>
								<li><a href="{% url 'agent' %}">Developer</a></li>
								<li><a href="{% url 'blog' %}">Blog</a></li>
								<li><a href="tel:5554280940">FAQ / Contact</a></li>
							</ul>
						</div>

						<div class="col-md-3">
							<h3 class="section-title">Information</h3>
							<ul>
								<li><a href="{% static '#' %}">Terms &amp; Condition</a></li>
								<li><a href="{% static '#' %}">License</a></li>
								<li><a href="{% static '#' %}">Privacy &amp; Policy</a></li>
								<li><a href="{% static '#' %}">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<h3 class="section-title">Newsletter</h3>
							<p>Subscribe for our newsletter</p>
							<form class="form-inline" id="fh5co-header-subscribe">
								<div class="row">
									<div class="col-md-12 col-md-offset-0">
										<div class="form-group">
											<input type="text" class="form-control" id="email" placeholder="Enter your email">
											<button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="fh5co-social-icons">
								<a href="{% static '#' %}"><i class="icon-twitter2"></i></a>
								<a href="{% static '#' %}"><i class="icon-facebook2"></i></a>
								<a href="{% static '#' %}"><i class="icon-instagram"></i></a>
								<a href="{% static '#' %}"><i class="icon-dribbble2"></i></a>
								<a href="{% static '#' %}"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2016 Homestate . All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by Homestate . </p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/sticky.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
	<!-- Date Picker -->
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<!-- CS Select -->
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/selectFx.js' %}"></script>

	
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

